
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
      <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <label id=date></label>
          <ul class="nav navbar-nav">
            <li class="nav-item">
              <b>ADMIN </b>
              <button type="button" class="btn btn-primary">Logout</button>
            </li>
          </ul>
        </div>
      </nav>
      <!-- partial -->