<div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_sidebar.html -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
      <a class="navbar-brand brand-logo-mini" href="/">
        <img src="/images/logo-mini.svg" alt="logo" /> </a>
    </nav>
    <!-- partial -->